:not(#\9):not(#\9):not(#\9) .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    /* added line */
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy ::placeholder {
    color: #999999;
    opacity: 1;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy :-ms-input-placeholder {
    color: #999999;
}

@font-face {
    font-family: "Open Sans";
    src: url("assets/fonts/OpenSans-Regular.eot?") format("eot"),
        url("assets/fonts/OpenSans-Regular.woff2") format("woff2"),
        url("assets/fonts/OpenSans-Regular.woff") format("woff"),
        url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("assets/fonts/OpenSans-Bold.eot?") format("eot"),
        url("assets/fonts/OpenSans-Bold.woff2") format("woff2"),
        url("assets/fonts/OpenSans-Bold.woff") format("woff"),
        url("assets/fonts/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

:not(#\9):not(#\9):not(#\9) html.hidemeproxy {
    min-height: 100%;
    padding: 5px 5px 108px 5px;
}

@media screen and (min-width: 820px) {
    :not(#\9):not(#\9):not(#\9) html.hidemeproxy {
        padding: 60px 5px 5px 5px;
    }
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy>body {
    overflow: hidden;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__frame {
    border: #0accf9 5px solid;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2147483647;
    font-family: "Open Sans", sans-serif !important;
    box-sizing: border-box;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__frame-header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0accf9;
    padding: 10px 5px;
    z-index: 2147483647;
    box-sizing: border-box;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__logoHolder {
    display: none !important;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__logoHolder img {
    vertical-align: middle;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__form-inputHolder input {
    padding: 10px 40px 10px 10px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    color: #999999;
    width: 100%;
    background-color: #fff !important;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif !important;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__form-inputHolder input:focus {
    color: #333;
    outline: none;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__form-inputHolder {
    flex-grow: 1;
    margin-right: 10px;
    position: relative;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__form-inputHolder:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    background-image: url(assets/images/magnifier.svg);
    width: 14px;
    height: 15px;
    transform: translate(0, -50%);
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__button {
    display: inline-block;
    padding: 9px 20px;
    appearance: none;
    color: #32383f;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Open Sans", sans-serif !important;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__button--primary {
    background-color: #fad033;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__button--primary:focus,
:not(#\9):not(#\9):not(#\9) .hidemeproxy__button--primary:hover {
    background-color: #f9c913;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__button--secondary {
    background-color: #fff;
    padding: 10px;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__button--secondary:focus,
:not(#\9):not(#\9):not(#\9) .hidemeproxy__button--secondary:hover {
    background-color: #fad033;
    color: #32383f;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__form {
    display: flex;
    font-family: "Open Sans", sans-serif !important;
    box-sizing: border-box;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__form * {
    box-sizing: border-box;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif !important;
    box-sizing: border-box;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__cta * {
    box-sizing: border-box;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__cta p {
    color: #fff;
    font-size: 16px;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__button--get {
    display: none;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: #15749d;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
    transition: transform 0.3s ease;
    z-index: 2147483647;
    font-family: "Open Sans", sans-serif !important;
    backface-visibility: hidden;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif !important;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout.is-hidden {
    transform: translate(98%, -50%);
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout-handle {
    border: 0;
    background-color: transparent;
    appearance: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url(assets/images/handle.svg);
    width: 23px;
    height: 30px;
    transform: translate(-100%, -50%);
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout-handle:focus {
    border: 0;
    outline: none;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout h2 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout ul {
    text-align: left;
    margin: 5px 0 10px 10px;
    font-size: 15px;
    list-style-type: none;
    padding: 0;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout li {
    padding-left: 20px;
    position: relative;
    margin: 5px 0;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout li:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url(assets/images/check.svg);
    width: 12px;
    height: 9px;
    transform: translate(0, -50%);
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout img {
    display: none;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__content {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 111px);
    overflow-y: scroll;
    bottom: 111px;
    left: 0;
    transform: translate3d(5px, 5px, 0);
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy-error {
    padding: 50px;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy-error:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy-error a,
:not(#\9):not(#\9):not(#\9) .hidemeproxy-error a:focus,
:not(#\9):not(#\9):not(#\9) .hidemeproxy-error a:hover,
:not(#\9):not(#\9):not(#\9) .hidemeproxy-error a:visited {
    color: #0accf9;
    text-decoration: none;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy-error__image {
    height: 150px;
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy-error__caption {
    margin-bottom: 20px;
    margin-top: 20px;
}

@media screen and (min-width: 820px) {
    :not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout img {
        display: inline-block;
        margin: 5px 0;
    }

    :not(#\9):not(#\9):not(#\9) .hidemeproxy__content {
        height: calc(100% - 60px);
        top: 55px;
        bottom: auto;
    }
}

:not(#\9):not(#\9):not(#\9) .hidemeproxy__slideout .hidemeproxy__button {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 820px) {
    :not(#\9):not(#\9):not(#\9) .hidemeproxy__frame-header {
        bottom: auto;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    :not(#\9):not(#\9):not(#\9) .hidemeproxy__form {
        align-items: center;
        flex-grow: 1;
    }

    :not(#\9):not(#\9):not(#\9) .hidemeproxy__cta {
        display: none;
    }

    :not(#\9):not(#\9):not(#\9) .hidemeproxy__button--get {
        display: inline-block;
        flex-shrink: 0;
        margin-left: 10px;
    }

    :not(#\9):not(#\9):not(#\9) .hidemeproxy__button--download {
        display: none;
    }

    :not(#\9):not(#\9):not(#\9) .hidemeproxy__logoHolder {
        display: flex !important;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: center;
        margin-right: 5px;
    }

    :not(#\9):not(#\9):not(#\9) .hidemeproxy__logoHolder img {
        margin-left: 5px;
    }
}

@media screen and (min-width: 910px) {
    :not(#\9):not(#\9):not(#\9) .hidemeproxy__logoHolder {
        flex-grow: 0;
        flex-shrink: 1;
    }
}

@media screen and (min-width: 1200px) {
    :not(#\9):not(#\9):not(#\9) .hidemeproxy__form {
        flex-grow: 0;
    }

    :not(#\9):not(#\9):not(#\9) .hidemeproxy__logoHolder {
        position: absolute !important;
        top: 50% !important;
        left: 15px !important;
        transform: translate(0, -50%) !important;
    }
}